Source: vx-ebooks
Section: Miscellaneous
Priority: extra
Maintainer: Eduardo Romero <eduromo@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/vitalinux/vx-ebooks

Package: vx-ebooks
Architecture: all
Pre-Depends:
Depends:
Description: free ebooks
